body {
  background-color: rgb(166, 120, 179);
}
.heading {
  height: 150px;
  width: 90%;
  max-width: 800px;
  background-color: white;
  text-align: center;
  padding-top: 50px;
  margin: 20px auto;
  font-size: 50px;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 110px;
}
.mid {
  width: 90%;

  height: 300px;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  padding: 20px 0;
}
.choice-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  font-family: cursive;
}
.choice-box {
  margin-top: 25px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 220px;
  height: 170px;
  background-color: rgb(166, 120, 179);
  border-radius: 40px;
  text-align: center;
  border: none;
  font-family: cursive;
  cursor: pointer;
}
.theme {
  text-decoration: underline;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
  height: 40px;
  width: 150px;
  border-radius: 15px;
  border: none;
  font-size: 13px;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.7);
  background-color: white;
}
.theme-flex {
  display: flex;
  justify-content: center;
}
